:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --acent-text-color: #2196f3;
  --secondary-acent-text-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --secondary-bcd-button-color: #188ce8;
  --bcd-black: #2f303a;
  --btn-radius: 25px;
  --indent: 30px;
  --items: 4;
  --idx-header: 100;
  --trns-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trns-slow: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  --index-backdrop: 1000;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-team, .what-we-do {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .our-team, .what-we-do {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team, .what-we-do {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767.98px) {
  container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.button :active {
  color: var(--secondary-bcd-button-color);
  border: 1px transparent;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--secondary-acent-text-color);
  background-color: var(--acent-text-color);
  border: none transparent;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
}

.primary.button {
  color: var(--secondary-acent-text-color);
  background-color: var(--acent-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: inherit;
  border: none transparent;
  padding: 10px 32px;
  margin-top: 40px;
  -webkit-transition: color var(--trns-fast), background-color var(--trns-fast), -webkit-box-shadow var(--trns-fast);
  transition: color var(--trns-fast), background-color var(--trns-fast), -webkit-box-shadow var(--trns-fast);
  transition: color var(--trns-fast), background-color var(--trns-fast), box-shadow var(--trns-fast);
  transition: color var(--trns-fast), background-color var(--trns-fast), box-shadow var(--trns-fast), -webkit-box-shadow var(--trns-fast);
}

.secondary.button:focus,
.secondary.button:hover {
  color: var(--secondary-acent-text-color);
  background-color: var(--acent-text-color);
}

.secondary.button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  border-color: var(--secondary-background-color);
  border: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: none;
  -webkit-transition: color var(--trns-fast), background-color var(--trns-fast);
  transition: color var(--trns-fast), background-color var(--trns-fast);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.primary.button {
  color: var(--secondary-acent-text-color);
  background-color: var(--acent-text-color);
}

/* examples */
.prime.button {
  color: var(--secondary-acent-text-color);
  background-color: var(--acent-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: inherit;
  border: none transparent;
  padding: 6px 22px;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: color var(--trns-fast), background-color var(--trns-fast);
  transition: color var(--trns-fast), background-color var(--trns-fast);
}

.project-list .button {
  cursor: pointer;
}

.footer-btn {
  color: var(--secondary-acent-text-color);
  background-color: var(--acent-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: inherit;
  border: none transparent;
  padding: 10px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  gap: 10px;
  -webkit-transition: background-color var(--trns-fast);
  transition: background-color var(--trns-fast);
}

.form-btn {
  margin-top: 30px;
  color: var(--secondary-acent-text-color);
  background-color: var(--acent-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: inherit;
  border: none transparent;
  padding: 10px 52px;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
  -webkit-transition: color var(--trns-fast), background-color var(--trns-fast), -webkit-box-shadow var(--trns-fast);
  transition: color var(--trns-fast), background-color var(--trns-fast), -webkit-box-shadow var(--trns-fast);
  transition: color var(--trns-fast), background-color var(--trns-fast), box-shadow var(--trns-fast);
  transition: color var(--trns-fast), background-color var(--trns-fast), box-shadow var(--trns-fast), -webkit-box-shadow var(--trns-fast);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: var(--trns-fast);
  transition: var(--trns-fast);
}

.close-btn:hover,
.close-btn:focus {
  color: var(--acent-text-color);
}

.close-btn-icon {
  fill: currentColor;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  margin-right: 93px;
}

.contacts-list a {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts .item:nth-child(-n+1) {
  margin-right: 50px;
}

.contacts a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts.list a:hover,
.contacts.list a:focus {
  color: var(--acent-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}

.head {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}

span {
  color: #000000;
}

.footer-logo {
  color: var(--secondary-acent-text-color);
  margin-bottom: 30px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav-link {
  position: relative;
}
.site-nav-link {
  color: var(--acent-text-color);
}
.site-nav-link .current {
  color: var(--acent-text-color);
}

.site-nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--acent-text-color);
  opacity: 0;
  -webkit-transform: scaleX(0.2);
          transform: scaleX(0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link.current::after,
.site-nav-link:hover::after,
.site-nav-link:focus::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.site-nav a {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav a .list a:hover, .site-nav a .list a:focus {
  color: var(--acent-text-color);
}
.site-nav a .current-cover {
  color: var(--acent-text-color);
}

.box {
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/workers-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/workers-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-top: 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero {
  background-color: var(--bcd-black);
  text-align: center;
  padding: 200px 0;
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 215px;
    padding-right: 215px;
  }
}

.benefits-list {
  padding-left: 15px;
  padding-right: 15px;
}
.benefits-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.benefits-list__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 120px;
  background-color: #ffffff;
  border-radius: 4px;
  background-color: #f5f4fa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits-list__item:nth-child(1n) {
  padding-bottom: 30px;
}

.benefits-list__item {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    padding-bottom: 30px;
  }
}

.benefits-list__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-list .benefits-list__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
}

.benefits-list .benefits-list__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.what-we-do {
  padding-top: 0px;
}

.do-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.picture + .picture {
  margin-left: 30px;
}

.picture {
  position: relative;
  overflow: hidden;
  background-color: rgba(47, 48, 58, 0.8);
}

.thumb > .label {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
}

.label {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-item {
  text-align: center;
  background: #ffffff;
  /* material shadow v1 */
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}

.our-team {
  background-color: var(--secondary-background-color);
}

.team-element {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 10px;
  margin-bottom: 16px;
}

.team-name {
  padding-top: 30px;
  padding-bottom: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.client-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color var(--trns-fast);
  transition: color var(--trns-fast);
}
.client-list__link:hover, .client-list__link:focus {
  color: #2196f3;
}

.client-list__icon {
  fill: currentColor;
}

.contact a {
  color: var(--primary-text-color);
  text-decoration: none;
  -webkit-transition: fill var(--trns-fast);
  transition: fill var(--trns-fast);
}

.address-item .address {
  color: var(--secondary-acent-text-color);
  -webkit-transition: color var(--trns-fast);
  transition: color var(--trns-fast);
}

.contact.list a:hover,
.contact.list a:focus {
  color: var(--acent-text-color);
}

.address a {
  color: var(--secondary-acent-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
}

footer a {
  font-style: normal;
}

.background-footer {
  background-color: var(--bcd-black);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-item {
  margin-top: 20px;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-item a {
  -webkit-transition: fill var(--trns-fast);
  transition: fill var(--trns-fast);
}

.invite {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
}

.link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--secondary-acent-text-color);
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: fill var(--trns-fast), background-color var(--trns-fast);
  transition: fill var(--trns-fast), background-color var(--trns-fast);
}
.link-footer:hover, .link-footer:focus {
  background-color: var(--acent-text-color);
  fill: var(--secondary-acent-text-color);
}

.subscribe {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-form {
  margin-left: auto;
}

.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-input {
  padding: 15px;
  font-family: inherit;
  background: transparent;
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2784px;
  color: var(--secondary-acent-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.send-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: fill var(--trns-fast), background-color var(--trns-fast);
  transition: fill var(--trns-fast), background-color var(--trns-fast);
}
.social-link:hover, .social-link:focus {
  background-color: var(--acent-text-color);
  fill: var(--secondary-acent-text-color);
}

.footer-social {
  margin-left: 70px;
}

.examples .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.examples {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.element-link:hover,
.element-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.element-link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--trns-fast);
  transition: -webkit-box-shadow var(--trns-fast);
  transition: box-shadow var(--trns-fast);
  transition: box-shadow var(--trns-fast), -webkit-box-shadow var(--trns-fast);
}

.ex-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.element:nth-child(3n) {
  margin-right: 0pt;
}

.element:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.project-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.project-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
}

.project-title + .project-title {
  margin-left: 8px;
}

.element-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--acent-text-color);
  opacity: 90%;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  padding: 63px 24px;
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.element-link:hover .overlay,
.element-link:focus .overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur 2px;
          backdrop-filter: blur 2px;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity 150ms linear, visibility 150ms linear;
  transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  width: 528px;
  border-radius: 4px;
  background-color: #ffffff;
  z-index: var(--index-backdrop);
  padding: 40px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-field {
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  fill: currentColor;
}

.form-icon:hover,
.form-icon:focus {
  fill: var(--acent-text-color);
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: var(--trns-fast);
  transition: var(--trns-fast);
}
.form-label:focus, .form-label:hover {
  border: var(--acent-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: border-color var(--trns-fast);
  transition: border-color var(--trns-fast);
  padding-left: 40px;
}
.form-input:focus, .form-input:hover {
  border-color: var(--acent-text-color);
  -webkit-transition: var(--trns-fast);
  transition: var(--trns-fast);
}

.form-icon {
  fill: currentColor;
}
.form-icon:focus, .form-icon:hover {
  fill: var(--acent-text-color);
}

.form-label {
  margin-bottom: 4px;
}

.form-field {
  margin-bottom: 20px;
  fill: currentColor;
}
.form-field:hover, .form-field:focus {
  fill: var(--acent-text-color);
}

.form-message {
  width: 100%;
  height: 120px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  padding: 12px 16px;
}
.form-message:focus {
  border-color: var(--acent-text-color);
  -webkit-transition: var(--trns-fast);
  transition: var(--trns-fast);
}

.check {
  padding-left: 1.2em;
}

.check__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.check__box {
  position: absolute;
  margin-top: 0.4em;
  margin-left: -1em;
  width: 0.8em;
  height: 0.8em;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-box-shadow: 0 0 0 0.1em var(--acent-text-color);
          box-shadow: 0 0 0 0.1em var(--acent-text-color);
}

.check__input:checked + .check__box {
  background-color: var(--acent-text-color);
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 13 10' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.check__input:focus + .check__box {
  -webkit-box-shadow: 0 0 0 0.1em #4A90E2;
          box-shadow: 0 0 0 0.1em #4A90E2;
}

.check__input:disabled + .check__box {
  -webkit-box-shadow: 0 0 0 0.1em #9B9B9B;
          box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled + .check__box {
  background-color: #9B9B9B;
}

.check-agree {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.agreement-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 7px;
}

.agreement-link {
  color: var(--acent-text-color);
  text-decoration: underline;
}

.form-icon .unchecked {
  opacity: 1;
  -webkit-transition: var(--trns-fast);
  transition: var(--trns-fast);
}

.form-icon .checked {
  opacity: 0;
  -webkit-transition: var(--trns-fast);
  transition: var(--trns-fast);
}

.checkbox-form:checked + .form-icon.unchecked {
  opacity: 0;
}

.checkbox-form:checked + .form-icon.checked {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */