.client {
    
        padding-top: 60px;
        padding-bottom: 60px;



        @media screen and (min-width: 768px) {
            padding-top: 60px;
            padding-bottom: 60px;

        }

        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }

    }

.client-list {

    display: flex;
        flex-wrap: wrap;
       gap: 28px;

    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
   
}




.client-list__items {
display: flex;

    @media screen and (min-width: 768px) {
        max-width: 226px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 170px;
    }


}
.client-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: #afb1b8;
    transition: color var(--trns-fast);

    &:hover,
    &:focus {
        color: #2196f3;
    }

         @media screen and (min-width: 768px) {
             max-width: 226px;
         }
    
         @media screen and (min-width: 1200px) {
             max-width: 170px;
         }
}


.client-list__icon {
    fill: currentColor;
}



