


.container {
    
    padding: 0 15px;
    margin: 0 auto;

// mobile
    @media (min-width: 480px) {}

    width: 480px;

    // tablet

         @media (min-width: 768px) {}
    
         width: 720px;

    // desktop
    @media  (min-width: $desktop) {    
    }
    width: $desktop;
}