
.contact-icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts-list {
    display: flex;
    justify-content: center;
}

.logo {
    @media screen and (min-width: 768px) {
      margin-right: 88px;
      margin-left: 15px; 
    }

    @media screen and (min-width: 1200px) {
    
        margin-right: 93px;
        margin-left: 15px;
        margin-top: 16px;
    }
   
}

.contacts-list a {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    display: block;
    margin-left: auto;

    @media screen and (min-width: 768px) {
            margin-right: auto;
        }
    @media screen and (min-width: 1200px){
        display: flex;
    }
}

.phone-header {
    @media screen and (min-width: 768px) {
     margin-top: 10px;   
    }

    @media screen and (min-width: 1200px) {
      margin-top: 0;  
    }
}

.contacts .item:nth-child(-n + 1) {

    @media screen and (min-width: 1200px) {
    margin-right: 50px;
    }
    
}

.contacts a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contacts.list a:hover,
.contacts.list a:focus {
    color: var(--acent-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

// portfolio

.head {
    border-bottom: 1px solid #ececec;
}

.header {
    display: flex;
    align-items: center;
}

.tablet-nav {
    display: none;
@media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;

    }
}

.navigation {
    display: none;

    @media screen and (min-width: 768px){
     display: flex;   
    }
}