
.box {
    max-width: 1600px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

    // mobile 

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../img/pics/Header/img_m@1x.jpg);

    // mobile screen retina

    @media screen and (min-device-pixel-ratio:2),
    screen and (min-resolution:192dpi),
    screen and (min-resolution:2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../img/pics/Header/img_m@2x.jpg);
    }
}

.hero-title {
    width: 696px;
    margin: 0 auto;
    margin-top: 0;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.hero {
    background-color: var(--bcd-black);
    text-align: center;
    padding: 200px 0;
}