
.box {
    max-width: 1600px;
    height: 400px;
    padding: 118px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;

    // mobile 
@media screen and (max-width: 767.98px) {
    
background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../img/pics/Header\ img_s@1x.jpg);}

    // mobile screen retina

    @media screen and (min-device-pixel-ratio:2),
    screen and (min-resolution:192dpi),
    screen and (min-resolution:2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../img/pics/Header\ img_s@2x.jpg);
    }

    // tablet

    @media screen and (min-width: 768px) {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../img/pics/Header\ img_m@1x.jpg);
    
        // tablet screen retina
    
        @media screen and (min-device-pixel-ratio:2),
        screen and (min-resolution:192dpi),
        screen and (min-resolution:2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../img/pics/Header\ img_m@2x.jpg);
    }
        
    }

         // desktop
    
         @media screen and (min-width: 769px) {
            background-size: cover;
            background-position: center;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                 url(../img/pics/Img_1600.jpg);
    
             // desktop screen retina
    
             @media screen and (min-device-pixel-ratio:2),
             screen and (min-resolution:192dpi),
             screen and (min-resolution:2dppx) {
                 background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                     url(../img/pics/Img_3200.jpg);
             }
    
         }
}

.hero-title {
    max-width: 360px;
    margin: 0 auto;
    margin-top: 0;
    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    @media screen and (min-width: 769px) {
    max-width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
       
    }
}

.hero {
    background-color: var(--bcd-black);
    text-align: center;


    
}