.logo {
    color: #2196f3;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}

span {
    color: #000000;
}

// footer logo

.footer-logo {
    color: var(--secondary-acent-text-color);
    margin-bottom: 30px;
}

.logo-foot {
    color: #2196f3;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}