body {
    background-color: #ffffff;
    color: #757575;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.section {
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
        
    }
    padding-top: 94px;
    padding-bottom: 94px;
}

.what-we-do {
    @media screen and (max-width: 768px) {display: none;

    }
        
    }
