:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --acent-text-color: #2196f3;
    --secondary-acent-text-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --secondary-bcd-button-color: #188ce8;
    --bcd-black: #2f303a;

    --btn-radius: 25px;
    --indent: 30px;
    --items: 4;

    --idx-header: 100;

    --trns-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --trns-slow: 500ms cubic-bezier(0.4, 0, 0.2, 1);

    --index-backdrop: 1000;
}

// breakpoints 
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

